body {
    background-color: #eee;
}

.admin__menu {
    width: 500px;
    margin: 30px;
    padding: 10px 60px;
    border-radius: 8px;
    background-color: #5580f7;
}

.admin__menu__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 100;
    color: #fff;
}

.admin__menu__inner {
    margin-bottom: 30px;
}

.admin__menu__link {
    padding: 10px 12px;
    border-radius: 5px;
    background-color: #003ff5;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}