body {
    background-color: #eee;
}

.container {
    display: flex;
}

.left-wrapper {
    flex: 1;
}

.shop-detail__content {
    margin: 0 40px;
}

.shop-detail__link {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #959595;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.shop-detail__name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.shop-detail__img {
    padding: 10px 0;
}

.shop-detail__img img {
    width: 100%;
}

.shop-detail__text {
    margin-top: 20px;
}

.right-wrapper {
    flex: 1;
}

.reservation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #959595;
    background-color: #3560f6;
    overflow: hidden;

}

.reservation__title {
    margin-left: 30px;
    color: #fff;
    font-size: 28px;
}

.reservation__input-field select, input {
    display: block;
    height: 35px;
    margin: 10px 30px;
    padding: 0 10px;
    border: none;
    border-radius: 8px;
}

.reservation__input-field select {
    width: 80%;
}

.reservation__confirm-field {
    width: 75%;
    margin: 20px 30px 150px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5580f7;
    color: #fff;
}

.reservation-button {
    width: 100%;
    height: 55px;
    border: none;
    background-color: #003ff5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}