body {
    background-color: #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__content {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #959595;
    overflow: hidden;
}

.search__content__inner select, input {
    height: 50px;
    padding: 0 20px;
    border: none;
}

.search__area-box {
    margin-right: -6px;
}

.search__genre-box {
    margin-right: -5px;
}

.search__button {
    display: inline-block;
    position: absolute;
    top: 34px;
    right: 188px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    z-index: 9999;
}

.search__input {
    padding-left: 40px;
}

@media screen and (max-width: 768px) {
    .header {
        height: 240px;
        flex-direction: column;
        align-items: flex-start;
    }

    .search__content {
        width: calc(100% - 40px);
        margin: 0 20px;
    }

    .search__content__form {
        width: 100%;
    }

    .search__content__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .search__area-box, .search__genre-box {
        width: 100%;
        margin: 0 0 2px 0;
    }

    .search__button {
        top: 205px;
        left: 30px;
        width: 30px;
    }
}

.hidden {
    display: none;
}

.shop__content {
    background-color: #eee;
}

.shop__content__inner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 20px;
}

.shop__card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #959595;
    overflow: hidden;
}

.shop__card-img {
    overflow: hidden;
}

.shop__card-img img {
    width: 100%;
    margin-top: -10%;
    margin-bottom: -10%;
}


.shop__card-text {
    padding: 15px;
}

.shop__title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.shop__info {
    font-size: 13px;
}

.shop__unit {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.shop__detail {
    height: 31px;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #3560f6;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.shop__favorite {
    border: none;
    background-color: #fff;
    font-size: 32px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .shop__info {
        font-size: 12px;
    }

    .shop__detail {
        padding: 5px 7px;
    }

    .shop__favorite {
        font-size: 24px;
    }
}

.shop__favorite--red {
    color: red;
}

.shop__favorite--gray {
    color: gray;
}