body {
    background-color: #eee;
}

.container {
    margin: 30px;
}

.manager__menu {
    width: 350px;
    margin: 30px 0;
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #959595;
    background-color: #fff;
}

.manager__menu__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 100;
}

.manager__menu__inner {
    margin-bottom: 30px;
}

.manager__menu__link {
    padding: 10px 12px;
    border-radius: 5px;
    background-color: #3560f6;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.shop__content__inner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .shop__content__inner {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.shop__card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #959595;
    overflow: hidden;
}

.shop__card-img {
    overflow: hidden;
}

.shop__card-img img {
    width: 100%;
    margin-top: -10%;
    margin-bottom: -10%;
}

.shop__card-text {
    padding: 15px;
}

.shop__title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.shop__info {
    font-size: 13px;
}

.shop__unit {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.shop__detail {
    display: inline-block;
    width: 120px;
    margin: 0 10px 10px 0;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #3560f6;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.title {
    margin: 15px 20px;
    font-size: 20px;
}

.reservation__message {
    font-size: 20px;
}

.reservation__wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    margin: 20px;

}

.reservation-block {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #959595;
    background-color: #3560f6;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .reservation__wrapper {
        flex-direction: column;
    }
}

.reservation-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.reservation-table__row {
    height: 40px;
}

.reservation-table__header {
    padding-right: 10px;
    font-weight: lighter;
    text-align: start;
}

.review__card {
    width: 600px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #959595;
}

@media screen and (max-width: 768px) {
    .review__card {
        width: 100%;
    }
}




.container {
    height: 90vh;
    padding-top: 30px;
    background-color: #eee;
}

.content {
    width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #959595;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .content {
        width: 300px;
    }
}

.shop__header {
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3560f6;
    color: #fff;
    font-size: 8px;
    font-weight: lighter;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__group {
    width: 100%;
    padding: 10px 30px 20px;
}

.form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form__item:nth-child(1) {
    margin-top: 10px;
}

.form__label {
    display: inline-block;
}

.form__input {
    width: 450px;
    height: 45px;
    font-size: 16px;
}

.form__select-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
}

.form__textarea {
    width: 450px;
    height: 230px;
    font-size: 16px;
    font-weight: 100;
}

.preview-image, .image-preview img {
    width: 540px;
}



@media screen and (max-width: 768px) {
    .form {
        width: 300px;
    }

    .preview-image, .image-preview img {
        width: 270px;
    }

    .form__group {
        padding: 15px;
    }

    .form__label {
        font-size: 12px;
    }

    .form__input, .form__select-button, .form__textarea {
        width: 200px;
        font-size: 14px;
    }

    .form__input--small {
        font-size: 11px;
    }

    .error-message--margin {
        margin: 0 0 5px 70px;
    }
}

.form__text {
    width: 390px;
}

.form__value {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .form__text {
        width: 200px;
    }
}

.form__button-area {
    padding: 10px 0;
    text-align: right;
}

.form__button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3560f6;
    color: #fff;
    cursor: pointer;
}

#input-file-01 {
    display: none;
}

#bt-file-01 {
    height: 34px;
    margin-right: 5px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3560f6;
    color: #fff;
    cursor: pointer;
}

#output-01 {
    width: 320px;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    #bt-file-01 {
        width: 100px;
        padding: 3px;
        font-size: 11px;
    }

    #output-01 {
        width: 120px;
        font-size: 12px;
    }
}

.import__input-area {
    margin: 20px 0;
}


.message {
    margin: 20px 0;
    color: red;
    font-size: 16px;
    font-weight: bold;
}