body {
    background-color: #eee;
}

.mypage__title {
    margin-left: 20px;
}

.mypage__wrapper {
    display: flex;
    width: 100%;
}

.mypage__reservation-status {
    flex: 4;
    margin-left: 20px;
}

.mypage__favorite-shop {
    flex: 6;
    margin: 0 20px;
}

.reservation-block {
    width: 400px;
    margin: 0 10px 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #959595;
    color: #fff;
    background-color: #3560f6;
}

@media screen and (max-width: 768px) {
    .mypage__wrapper {
        display: flex;
        flex-direction: column;
    }

    .reservation-block {
        width: 300px;
    }
}

.reservation-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.reservation-block__form-delete {
    display: inline-block;
}

.reservation-block__button {
    border: none;
    background-color: #3560f6;
    cursor: pointer;
}

.fa-circle-xmark {
    color: #fff;
    font-size: 24px;
}

.reservation-table select, input {
    height: 25px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

.reservation-table__row {
    height: 40px;
}

.reservation-table__header {
    padding-right: 10px;
    font-weight: lighter;
    text-align: start;
}

.reservation-block__form-update {
    width: 100%;
}

.reservation-update__area {
    display: flex;
    justify-content: flex-end;
}

.reservation-update__button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #003ff5;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.mypage__favorite-shop__inner {
    display: flex;
    flex-wrap: wrap;

}

.shop__card {
    width: 300px;
    margin: 0 14px 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #959595;
    overflow: hidden;
}

.shop__card-img {
    overflow: hidden;
}

.shop__card-img img {
    width: 100%;
    margin-top: -10%;
    margin-bottom: -10%;
}

.shop__card-text {
    padding: 15px;
}

.shop__title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.shop__info {
    font-size: 13px;
}

.shop__unit {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.shop__detail {
    height: 29px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3560f6;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.shop__favorite {
    border: none;
    background-color: #fff;
    font-size: 32px;
}

.shop__favorite--red {
    color: red;
}

.shop__favorite--gray {
    color: gray;
}

.visit-history {
    margin: 20px;
}



.visit-history__table {
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #959595;
}

@media screen and (max-width: 768px) {
    .visit-history {
        font-size: 13px;
    }

    .visit-history__table {
        width: 100%;
    }
}

.visit-history__table-header {
    height: 45px;

}

.visit-history__table-data {
    text-align: center;
}

.review__button {
    display: inline-block;
    margin: 5px 0;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #3560f6;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.review__button--inactive {
    background-color: #5580f7;
    color: #e5e5e5;
}