body {
    background-color: #eee;
}

.review__container {
    display: flex;
    align-items: center;
}

.left__container {
    width: 45%;
    margin: 0 40px;
}

.right__container {
    width: 55%;
    margin: 0 40px;
}

.hr {
    width: 3px;
    height: 80vh;
    background-color: #ccc;
    margin: 0;
}

.review-form__text {
    padding: 10px;
    background-color: #eee;
}

.review-form__button-area {
    display: flex;
    justify-content: center;
}

.review-form__button {
    display: none;
}

.submit__button {
    margin: 20px 0;
    padding: 15px 140px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .review__container {
        flex-direction: column;
    }

    .left__container {
        width: 60%;
    }

    .hr {
        display: none;
    }

    .review-form__text {
        width: 100%;
    }

    .review-form__button {
        margin: 20px 0;
        padding: 15px 60px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        font-size: 14px;
        cursor: pointer;
    }
}



.shop__card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #959595;
    overflow: hidden;
}

.shop__card-img {
    overflow: hidden;
}

.shop__card-img img {
    width: 100%;
    margin-top: -10%;
    margin-bottom: -10%;
}


.shop__card-text {
    padding: 15px;
}

.shop__title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.shop__info {
    font-size: 13px;
}

.shop__unit {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.shop__detail {
    height: 31px;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #3560f6;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.shop__favorite {
    border: none;
    background-color: #fff;
    font-size: 32px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .shop__info {
        font-size: 12px;
    }

    .shop__detail {
        padding: 5px 7px;
    }

    .shop__favorite {
        font-size: 24px;
    }
}

.shop__favorite--red {
    color: red;
}

.shop__favorite--gray {
    color: gray;
}

.counter {
    font-size: 14px;
}


#inputFile {
    position: relative;
    padding: 180px 0 100px;
}

#bt-file-01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 50px 0 0;
    border: none;
    background: rgba(22, 165, 191, 0);
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
    background-color: #fff;
    cursor: pointer;
}

#bt-file-01.dragover {
    border: 2px solid #16a5bf;
    background: rgba(22, 165, 191, 0.6);
}

#input-file-01 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 300px;
    height: 80px;
    opacity: 0;
}

#inputFileWrap {
    position: relative;
    display: inline-block;
}

#btnInputFile,
#btnChangeFile {
    display: table;
    width: 300px;
}

#btnChangeFile {
    display: none;
}

#btnInputFile span,
#btnChangeFile span {
    position: relative;
    z-index: 2;
    display: table-cell;
    width: 300px;
    height: 80px;
    border: 1px solid #333;
    border-radius: 4px;
    background: #333;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
}

#upFileWrap.selected #btnInputFile {
    display: none;
}

#upFileWrap.selected #btnChangeFile {
    display: table;
}