body {
    background-color: #eee;
}

.review__container {
    display: flex;
    align-items: center;
}

.left__container {
    width: 40%;
}

.right__container {
    width: 60%;
}

.hr {
    width: 3px;
    height: 80vh;
    background-color: #ccc;
}

.shop__card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #959595;
    overflow: hidden;
}

.shop__card-img {
    overflow: hidden;
}

.shop__card-img img {
    width: 100%;
    margin-top: -10%;
    margin-bottom: -10%;
}


.shop__card-text {
    padding: 15px;
}

.shop__title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.shop__info {
    font-size: 13px;
}

.shop__unit {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.shop__detail {
    height: 31px;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #3560f6;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.shop__favorite {
    border: none;
    background-color: #fff;
    font-size: 32px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .shop__info {
        font-size: 12px;
    }

    .shop__detail {
        padding: 5px 7px;
    }

    .shop__favorite {
        font-size: 24px;
    }
}

.shop__favorite--red {
    color: red;
}

.shop__favorite--gray {
    color: gray;
}