.review__container {
    height: 90vh;
    padding-top: 30px;
    background-color: #eee;
}

.review__content {
    width: 450px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #959595;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .review__content {
        width: 300px;
    }
}

.review__header {
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3560f6;
    color: #fff;
    font-size: 8px;
    font-weight: lighter;
}

.review-form__group {
    width: 100%;
    padding: 10px 30px 20px;
}

.review-form__label {
    display: inline-block;
}

.review-form__text {
    width: 390px;
}

.review-form__value {
    margin-left: 20px;
}

.review-form__value:nth-child(3) {
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .review-form__text {
        width: 240px;
    }

    .review-form__value {
        font-size: 15px;
    }

}

.review-form__button-area {
    padding: 10px 0;
    text-align: right;
}

.review-form__button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3560f6;
    color: #fff;
    cursor: pointer;
}